.sceditor-button div {
	display: none !important;
}

.sceditor-toolbar {
	background: transparent !important;
	border: none !important;
}

.sceditor-button {
	height: 20px !important;
	padding: 3px 6px !important;
	width: auto !important;
}

.sceditor-container {
	background: var(--bg-color-2) !important;
	padding: 20px 0 0 0 !important;
	box-shadow: none!important;
}

.sceditor-button.active,
.sceditor-button:active,
.sceditor-button:hover {
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	background: none !important;
	box-shadow: none !important;
}

a.sceditor-button {
	display: block;
	width: 20px !important;
	height: 20px !important;
	padding: 0 !important;
	margin: 0 5px;
}

.sceditor-group {
	margin: 0 !important;
	padding: 0 !important;
}

/** BOUTONS **/
a.sceditor-button.sceditor-button-emoticon {
	background: url('https://api.iconify.design/fxemoji/blackmissingsmiley.svg') no-repeat center center / contain !important;
}

a.sceditor-button.sceditor-button-bold {
	background: url('https://api.iconify.design/uil/bold.svg?color=%23676782') no-repeat center center / contain !important;
}

a.sceditor-button.sceditor-button-italic {
	background: url('https://api.iconify.design/uil/italic.svg?color=%23676782') no-repeat center center / contain !important;
}

a.sceditor-button.sceditor-button-underline {
	background: url('https://api.iconify.design/uil/underline.svg?color=%23676782') no-repeat center center / contain !important;
}

a.sceditor-button.sceditor-button-strike {
	background: url('https://api.iconify.design/ic/twotone-strikethrough-s.svg?color=%23676782') no-repeat center center / contain !important;
}

a.sceditor-button.sceditor-button-mention {
	background: url('https://api.iconify.design/eva/at-fill.svg?color=%23676782') no-repeat center center / contain !important;
}

a.sceditor-button.sceditor-button-left {
	background: url('https://api.iconify.design/uil/align-left.svg?color=%23676782') no-repeat center center / contain !important;
}

a.sceditor-button.sceditor-button-center {
	background: url('https://api.iconify.design/uil/align-center.svg?color=%23676782') no-repeat center center / contain !important;
}

a.sceditor-button.sceditor-button-right {
	background: url('https://api.iconify.design/uil/align-right.svg?color=%23676782') no-repeat center center / contain !important;
}

a.sceditor-button.sceditor-button-justify {
	background: url('https://api.iconify.design/uil/align-justify.svg?color=%23676782') no-repeat center center / contain !important;
}



a.sceditor-button.sceditor-button-bulletlist {
	background: url('https://api.iconify.design/uil/list-ul.svg?color=%23676782') no-repeat center center / contain !important;
}

a.sceditor-button.sceditor-button-orderedlist {
	background: url('https://api.iconify.design/bi/list-ol.svg?color=%23676782') no-repeat center center / contain !important;
}

a.sceditor-button.sceditor-button-horizontalrule {
	background: url('https://api.iconify.design/ic/sharp-horizontal-rule.svg?color=%23676782') no-repeat center center / contain !important;
}



a.sceditor-button.sceditor-button-quote {
	background: url('https://api.iconify.design/bi/chat-left-quote.svg?color=%23676782') no-repeat center center / contain !important;
}

a.sceditor-button.sceditor-button-code {
	background: url('https://api.iconify.design/ant-design/code-outlined.svg?color=%23676782') no-repeat center center / contain !important;
}

a.sceditor-button.sceditor-button-faspoiler {
	background: url('https://api.iconify.design/fluent/chat-warning-16-regular.svg?color=%23676782') no-repeat center center / contain !important;
}

a.sceditor-button.sceditor-button-fahide {
	background: url('https://api.iconify.design/uil/eye-slash.svg?color=%23676782') no-repeat center center / contain !important;
}

a.sceditor-button.sceditor-button-table {
	display: none
}


a.sceditor-button.sceditor-button-servimg {
	display: none !important;
}

a.sceditor-button.sceditor-button-image {
	background: url('https://api.iconify.design/uil/image.svg?color=%23676782') no-repeat center center / contain !important;
}

a.sceditor-button.sceditor-button-link {
	background: url('https://api.iconify.design/uil/link.svg?color=%23676782') no-repeat center center / contain !important;
}

a.sceditor-button.sceditor-button-embed {
	display: none
}

a.sceditor-button.sceditor-button-youtube {
	background: url('https://api.iconify.design/uil/youtube.svg?color=%23676782') no-repeat center center / contain !important;
}



a.sceditor-button.sceditor-button-headers {
	background: url('https://api.iconify.design/jam/header.svg?color=%23676782') no-repeat center center / contain !important;
}

a.sceditor-button.sceditor-button-size {
	background: url('https://api.iconify.design/uil/text-fields.svg?color=%23676782') no-repeat center center / contain !important;
}

a.sceditor-button.sceditor-button-color {
	background: url('https://api.iconify.design/eva/color-palette-outline.svg?color=%23676782') no-repeat center center / contain !important;
}

a.sceditor-button.sceditor-button-font {
	background: url('https://api.iconify.design/mdi/format-font.svg?color=%23676782') no-repeat center center / contain !important;
}

a.sceditor-button.sceditor-button-removeformat {
	display: none
}



a.sceditor-button.sceditor-button-more {
	display: none
}


a.sceditor-button.sceditor-button-subscript {
	display: none
}

a.sceditor-button.sceditor-button-superscript {
	display: none
}



a.sceditor-button.sceditor-button-fascroll {
	display: none
}

a.sceditor-button.sceditor-button-faupdown {
	display: none
}

a.sceditor-button.sceditor-button-farand {
	display: none
}



a.sceditor-button.sceditor-button-twemojifa {
	background: url('https://api.iconify.design/uil/smile-dizzy.svg?color=%23676782') no-repeat center center / contain !important;
}

a.sceditor-button.sceditor-button-date {
	display: none
}

a.sceditor-button.sceditor-button-time {
	display: none
}

a.sceditor-button.sceditor-button-pastetext {
	display: none
}

a.sceditor-button.sceditor-button-source {
	background: url('https://api.iconify.design/carbon/change-catalog.svg?color=%23676782') no-repeat center center / contain !important;
}












:root {
	--color-text: rgba(255, 255, 255, 0.87);
	--color-bg: #17141b;
	--color-delete: #e74c3c;
	--color-tooltip: #010203;
	--color-squircle: #201f2e;
	--color-accent: #b14255;
	--color-button: #aaa2f2;
	--color-pill: #ffffff;
	--gap-size: 16px;
	--ease: cubic-bezier(0.4, 0.0, 0.2, 1);
	--ease-bounce: cubic-bezier(0.43, 0.09, 0.38, 2.56);
}

.switcheroo {
	color: var(--color-text);
	font-size: 14px;
}

.switcheroo[position="static"] {
	position: relative;
}

.switcheroo[position="top"] {
	position: fixed;
	top: 0;
	right: 35px;
	z-index: 9;
	display: flex;
	flex-direction: column-reverse;
}

.switcheroo[position="bottom"] {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 100;
}

.switcheroo[direction="horizontal"] {
	width: 100%;
}

.switcheroo[direction="vertical"] {
	height: 100%;width: 0;
}

.switcheroo__squircles {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
	padding: 7px 6px;
	gap: 5px;
	right: 60px;    position: relative;
}

.switcheroo[direction="horizontal"] .switcheroo__squircles {
	flex-direction: row;
}

.switcheroo[direction="vertical"] .switcheroo__squircles {
	flex-direction: column;
}

/* squircle */
.switcheroo[theme="discord"] .switcheroo__squircle {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--color-squircle);
}

.switcheroo[theme="discord"] .switcheroo__squircle {
	width: 48px;
	height: 48px;
	border-radius: 0;
	cursor: pointer;
	transition: border-radius 128ms var(--ease);filter: saturate(.5);
}

.switcheroo[theme="discord"] .switcheroo__squircle:hover {
	border-radius: 0;    filter: saturate(1);
}

.switcheroo[theme="discord"][direction="vertical"] .switcheroo__squircle:hover:after,
.switcheroo[theme="discord"][direction="vertical"] .switcheroo__squircle:hover:after {
	opacity: 0;
	transform: rotate(45deg) scale(1);
	transition: transform .5s, opacity 1s;
}

.switcheroo[theme="discord"][direction="vertical"] .switcheroo__squircle:after,
.switcheroo[theme="discord"][direction="vertical"] .switcheroo__squircle:after {
	content: "";
	width: 100%;
	height: 100%;
	display: block;
	border: 4px solid var(--m-color-1);
	position: absolute;
	transform: rotate(45deg) scale(0);
	pointer-events: none;
	opacity: 1;
}

.switcheroo[theme="discord"][direction="horizontal"] .switcheroo__squircle:before {
	content: "";
	width: 100%;
	height: 100%;
	display: block;
	background-color: var(--color-pill);
	position: absolute;
	border-radius: 4px;
	left: 50%;
	transform: translate(-50%, -100%) scale(0);
	transition: transform 128ms, opacity 64ms;
	pointer-events: none;
	opacity: 0;
}

.switcheroo[theme="discord"] .switcheroo__squircle.active {
	border-radius: 0;
	cursor: default;
	filter: saturate(1.5);
}



.switcheroo[theme="discord"][direction="horizontal"] .switcheroo__squircle:hover:before {
	opacity: 1;
	transform: translate(-50%, -100%) scale(0.5);
}

.switcheroo[theme="discord"][direction="vertical"] .switcheroo__squircle.active:before {}

.switcheroo[theme="discord"][direction="horizontal"] .switcheroo__squircle.active:before {
	opacity: 1;
	transform: translate(-50%, -85%) scale(0.2);
	border-radius: 50%;
}


/* tooltip */
.switcheroo__popper {
	background-color: var(--m-color-1);
	padding: 2px 5px;
	position: absolute;
	width: -webkit-max-content;
	width: max-content;
	border-radius: 2px;
	z-index: 0;
	opacity: 0;
	transition: opacity .5s;
	pointer-events: none;
	color: #fff;
}

.switcheroo[direction="vertical"] .switcheroo__popper {
	right: 125%;
	top: 50%;
	transform-origin: right;
	transform: translateY(-50%) scale(.8);     text-transform: uppercase;
}

.switcheroo[direction="horizontal"] .switcheroo__popper {
	top: 155%;
	left: 50%;
	transform-origin: top;
	transform: translateX(-50%) scale(0.98);
}

.switcheroo__popper:before {
	content: "";
	position: absolute;
	width: 14px;
	height: 14px;
	background-color: var(--m-color-1);
	z-index: -1;
}

.switcheroo[direction="vertical"] .switcheroo__popper:before {
	right: -2px;
	top: 50%;
	transform: translateY(-50%) rotate(-45deg);
}

.switcheroo[direction="horizontal"] .switcheroo__popper:before {
	left: 50%;
	top: -2px;
	transform: translateX(-50%) rotate(-45deg);
}

.switcheroo[direction="vertical"] .switcheroo__squircle:hover .switcheroo__popper {
	opacity: 1;
}

.switcheroo[direction="horizontal"] .switcheroo__squircle:hover .switcheroo__popper {
	opacity: 1;
	transform: translateX(-50%) scale(1);
}

.switcheroo__squircle:hover:before {}

.switcheroo[theme="discord"] .switcheroo__squircle.active:before {
	content: '';
	display: block;
	width: 52px;
	height: 52px;
	background: linear-gradient(180deg, #b80e66, transparent);
	right: -2px;
	position: absolute;
}

/* avatar */
.switcheroo[theme="discord"] .switcheroo__avatar {
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: inherit;
	overflow: hidden;
}

.switcheroo[theme="discord"] .switcheroo__avatar img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* divider */
.switcheroo[theme="discord"][direction="vertical"] .switcheroo__divider {
	width: 100%;
	height: 2px;
	background-color: var(--color-pill);
	border-radius: 1px;
	opacity: 0.06;
	transform: scale(0.8);
}

.switcheroo[theme="discord"][direction="horizontal"] .switcheroo__divider {
	width: 2px;
	background-color: var(--color-pill);
	border-radius: 1px;
	opacity: 0.06;
	transform: scale(0.8);
}

/* delete button */
.switcheroo[theme="discord"] .switcheroo__delete {
	display: flex;
	justify-content: center;
	position: absolute;
	width: 16px;
	line-height: 14px;
	height: 16px;
	top: -2px;
	right: -2px;
	border-radius: 50%;
	background-color: var(--color-delete);
	transform: scale(0);
	opacity: 1;
	transition: transform 128ms var(--ease), opacity 64ms var(--ease);
	cursor: pointer;
	font-size: 13px;
}

.switcheroo[theme="discord"] .switcheroo__squircle:hover .switcheroo__delete {
	opacity: 1;
	transform: scale(1);
}

/* logo */
.switcheroo[theme="discord"] .switcheroo__logo {}

.switcheroo[theme="discord"] .switcheroo__logo img {
	width: 32px;
}

.switcheroo[theme="discord"] .switcheroo__logo:hover {
	background-color: var(--color-accent);
}

/* buttons */
.switcheroo[theme="discord"] .switcheroo__squircle--button {
	transition: border-radius 128ms var(--ease);
	color: var(--color-button);
}

.switcheroo[theme="discord"] .switcheroo__squircle--button:hover {
	color: #fff;
	background-color: var(--m-color-2);
}

/* modal */
.switcheroo__form {
	padding: 48px;
}

.switcheroo__form-row {
	display: flex;
	flex-flow: column;
	align-items: flex-start;
	margin-bottom: 16px;
}

.switcheroo__form-label {
	margin-bottom: 8px;
	font-size: 14px;
	text-transform: uppercase;
	color: var(--color-text) !important;
}

.switcheroo__form-input {
	padding: 6px !important;
	font-size: 16px !important;
	border-radius: 4px !important;
	width: 100% !important;
	border-bottom: 2px solid var(--color-accent) !important;
	background-color: var(--color-bg) !important;
	color: var(--color-text) !important;
	cursor: text !important;
}

.switcheroo__form-button {
	border-radius: 8px;
	padding: 8px;
	border: none;
	outline: none;
	box-shadow: none;
	text-transform: uppercase;
	font-size: 14px;
	align-self: flex-end;
	color: #fff;
	background-color: var(--color-accent);
}

.monomer-overlay {
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	opacity: 0;
	width: 100%;
	height: 100%;
	transition: 0.2s opacity ease;
	background: rgba(0, 0, 0, 0.6);
}

.monomer-modal {
	position: fixed;
	z-index: 999;
	top: 50%;
	left: 50%;
	opacity: 0;
	width: 94%;
	padding: 24px 20px;
	transition: 0.2s opacity ease;
	transform: translate(-50%, -50%);
	border-radius: 2px;
	background: var(--color-squircle);
	color: var(--color-text);
}

.monomer-modal.monomer-open.monomer-anchored {
	top: 20px;
	transform: translate(-50%, 0);
}

.monomer-modal.monomer-open {
	opacity: 1;
}

.monomer-overlay.monomer-open {
	opacity: 1;
}

.monomer-close {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 20px;
	font-weight: 700;
	line-height: 24px;
	text-align: center;
	width: 24px;
	height: 24px;
	position: absolute;
	top: -5px;
	right: -5px;
	padding: 5px;
	cursor: pointer;
	color: #fff;
	border: 0;
	outline: none;
	background: var(--color-delete);
	border-radius: 50%;
	padding: 0;
}

.monomer-close:hover {
	opacity: 0.8;
}
