.adm__spoiler.is-open h4:before {
    width: 100%;
}
.adm__spoiler h4:before {
    -moz-transition: .2s all cubic-bezier(0.4,0,0.2,1);
    -webkit-transition: .2s all cubic-bezier(0.4,0,0.2,1);
    background: linear-gradient(90deg,#824e61,rgba(130,78,97,0.6));
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: .2s all cubic-bezier(0.4,0,0.2,1);
    width: 0;
    z-index: -1;
}