.adm__spoiler.is-open h4:before {
    width: 100%;
}
.adm__spoiler h4:before {
    -moz-transition: .2s all cubic-bezier(0.4,0,0.2,1);
    -webkit-transition: .2s all cubic-bezier(0.4,0,0.2,1);
    background: linear-gradient(90deg,#824e61,rgba(130,78,97,0.6));
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: .2s all cubic-bezier(0.4,0,0.2,1);
    width: 0;
    z-index: -1;
}
.adm__spoiler h4 {
    background: linear-gradient(90deg,#485a9f,#5a558e);
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: 'Roboto Condensed';
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
    margin: 24px 0 8px;
    padding: 8px;
    position: relative;
    text-transform: uppercase;
    z-index: 0;
}

.adm__spoiler.is-open .adm__spoiler-icon {
    -moz-transform: translateY(-50%) rotate(45deg);
    -ms-transform: translateY(-50%) rotate(45deg);
    -o-transform: translateY(-50%) rotate(45deg);
    -webkit-transform: translateY(-50%) rotate(45deg);
    transform: translateY(-50%) rotate(45deg);
}

.adm__spoiler-icon {
    -moz-transform: translateY(-50%);
    -moz-transition: .2s all cubic-bezier(0.4,0,0.2,1);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-font-smoothing: antialiased;
    -webkit-transform: translateY(-50%);
    -webkit-transition: .2s all cubic-bezier(0.4,0,0.2,1);
    background: linear-gradient(90deg,#485a9f,#5a558e);
    border-radius: 50%;
    direction: ltr;
    display: inline-block;
    font-family: 'Material Icons';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    height: 24px;
    letter-spacing: normal;
    line-height: 24px;
    margin-right: 8px;
    overflow: hidden;
    position: absolute;
    right: 100%;
    text-align: center;
    text-transform: none;
    top: 50%;
    transform: translateY(-50%);
    transition: .2s all cubic-bezier(0.4,0,0.2,1);
    white-space: nowrap;
    width: 24px;
    word-wrap: normal;
    z-index: 0;
}

.adm__spoiler-body p:last-of-type {
    margin-bottom: 16px;
}

.adm__spoiler-body:before {
    background: linear-gradient(180deg,#825461,transparent);
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 3px;
}